#title{
  background-color: #83C2D1;
  color: #CD008A;
}
body{
  font-family: 'Montserrat', sans-serif;
}
a{
  color: white;
}
a:hover{
  color: #CD008A;
}
h1{
  font-size: 3rem;
  line-height: 1.5;

}
@media screen and (max-width: 360px){
  h1{
    font-size: 7vw;
    text-align: center;
  }
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
@media screen and (max-width: 360px){
  h2{
    font-size: 1.5rem;
    text-align: center;
  }
}
h3{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.btn-outline-light{
  background-color: #CD008A;
}
.btn-outline-light:hover{
  color: #CD008A;
}
.container-fluid{
  padding: 3% 15%
}
/* title img*/
.imgCol{
  display: block;
  margin: auto;
}
.phnImg{
  border-radius: 40%;
  border-width:.5rem;
  border-color: #CD008A;
  border-style: solid;
  margin: 0 auto;
}
/*title img caption*/
.titleImg-cap{
  font-family: 'Ubuntu';
  font-weight: bold;
  padding-top: 1rem;
}
/* Nav bar */
.navbar-pad{
  padding:0;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 1rem;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
}
.navbar-light .navbar-nav .nav-link {
  color: #CD008A;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: white;
}
/*hamburger color */
.navbar-light .navbar-toggler {
    color: #CD008A;
    border-color: #CD008A;
}
/* Download buttons */
.titledownload-button{
  margin: 5% 3% 5% 0;
}
.titlebtncenter{
  display: block;
  margin: 1.5rem auto;
}
/* Features section */
.center-text{
  text-align: center;
}
.col-lg-4{
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
.featicon{
  color: #CD008A;
}
.featicon:hover{
  color: #83C2D1;
}
.fblink{
  color: #0084FF;
}
.darkpurp-text{
  color: #5c003d;
}
/* Sucess stories */
#success-stories{
  text-align: center;
  background-color: #83C2D1;
  color: #CD008A;
}
.successPic{
  width: 300px;
  border-radius: 50%;
}
.picLoc{
  padding-bottom: 20px;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23CD008A' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23CD008A' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-item{
  padding: 7% 15%;
}
/* Blog cards */
.cardContainer{
  padding: 0;
}
.card-deck{
  padding: 2% 5%;
}
.card{
  border: none;
}
