#title{
  background-color: #ff2e63;
  color: white;
}
body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 3.5rem;
  line-height: 1.5;
  margin: 2rem auto;
}
.btn-outline-light{
  background-color: #ff2e63;
}
.container-fluid{
  padding: 3% 15%
}
/* title img*/
.imgCol{
  display: block;
  margin: auto;
}
.phnImg{
  border-radius: 40%;
  border-width:1rem;
  border-color: black;
  border-style: solid;
}
/*title img caption*/
.titleImg-cap{
  font-family: 'Ubuntu';
  font-weight: bold;
  padding-top: 1rem;
}
/* Nav bar */
.navbar-pad{
  padding:0 0 2rem;
}
.navtogRight{
  margin: 0 0 auto auto;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 1rem;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: lighter;
}
/* Download buttons */
.titledownload-button{
  margin: 5% 3% 5% 0;
}
.titlebtncenter{
  display: block;
  margin: 1.5rem auto;
}
